*{
	font-family: 'Amatic SC', cursive;
}

body {
	background-color: #FFCC33;

	min-width: 1133px;
}

.container {
	margin-left: 44.5%;
	width: 150px;

	background-color: #CC33FF;
}

.container {
	z-index: 1009;
}

.button-box{
	position: inherit;
}

#answer-getter{
	margin-left: 44%;
	position: inherit;
}

.title {
	text-align: center;
	color: white;

	font-family: 'Amatic SC', cursive;
	font-size: 56px;
}

header {
	float: right;
	margin-right: 60px;
	font-size: 30px;

	color: white;
}

mark{
	background-color: #0066FF;
	color: white;
}

.desc{
	text-decoration: none;
	color: black;
}

.answer-getter {
	border-radius: 200px;
	height: 160px;
	width: 160px;

	margin: 1em auto;

	border: none;

	background-color: #00CC33;

	font-family: 'Amatic SC', cursive;

	text-align: center;
}

.text {
	font-size: 26px;
	color: white;

	margin-top: 0%;
}

.answer-getter:hover {
	border: 2px solid;
	border-color: #FF9966;
}


.photos {
	display: none;
	padding: 15px 50px 50px 170px;
	margin: 0 100px 0 100px;

}

#photos img{
	margin-top: 40px;

}

#fringe{
	height: 0px;
	width: 0px;
}

img{
	transition: width 3s;
	transition: height 3s;
	height: 200px;
	width: 200px;

	margin-right: 6px;
}

img:hover{
	height: 200px;
	width: 200px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#about{
	display: none;

	margin: 1em auto;

	margin-top: 100px;

	width: 600px;

	background-color: #FF6600;
}

.x{
	height: 40px;
	width: 40px;

	background: url('https://dl.dropboxusercontent.com/u/263968982/rsz_1rsz_cross.png');
	background-repeat: no-repeat;
}

.about{
	text-align: center;
	font-size: 36px;

	padding: 50px;
}